
# Virtual environments

.venv/
venv/
env/


# Python cache / compiled files

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# OS files

.DS_Store
Thumbs.db


# IDE settings

.vscode/
.idea/


# Audio files (ignore all by default)

*.wav
*.mp3
*.m4a


# Data & model folders (ignore all)

data/
models/


# Allow ONLY the CI test audio file

!data/voice4.wav


# Secrets / environment files
.env
.env.*
